{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <title>Yekta Ulas KESIK</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100  border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/ulas.jpg' %}">
                <hr>
                <h4>Hi I'm Ulas!</h4>
                <p>I love coding, doing research and collaborating</p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-body h-100  border-info">
                <h4>My First Job as a Developer</h4>
                <hr>
                <p>I am Yekta Ulaş KESİK, a 24 years old Electrical-Electronics Engineer from Manisa Celal Bayar
                    University. I have a special interest computer sciences and programming through my education. I
                    follow all the sector news and developments in my field. </p>

                <p>I participated in courses, factory&plant
                    tours, and some electronic projects to improve myself. </p>

                <p>Previously I ran my own business,
                    therefore, I have experienced customer relations and purchasing. I keep working in Mepsan as
                    Software Engineer</p>

                <ul class="social-links">


                    <a href="https://www.linkedin.com/in/yekta-ula%C5%9F-kesik-9a2bb5186/" target="_blank">
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                    </a>


                    <a href="https://twitter.com/yektaulas" target="_blank">
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                    </a>


                    <a href="{% static 'images/Ulas_CV.pdf' %}" download>
                        <li><img class="social" src="{% static 'images/download.png' %}"></li>

                    </a>


                </ul>

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>My Experience as a Developer</h5>
                <hr>
                <p>Front-end developer at Mepsan A.Ş.</p>
                <p>Designed, built and managed with my teammates a payment system as a software developer. System
                    supported thousands
                    of customers and their payment systems.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>What I Know</h5>
                <hr>
                <p>Python, Django, HTML/CSS, JavaScript/Jquery,JavaScript charts and a whole bunch more I can’t possibly
                    mention in one sentence! ;)</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>How I Learn</h5>
                <hr>
                <p>Reverse Engineer & Build Ugly Prototypes First.</p>

                <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the
                    code where I need to figure out why things work the way they do. Documentation is just a
                    reference.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>My Short Term Goals</h5>
                <hr>
                <p> I will collaborating and sharing my experience with others on my upcoming blog </p>
                <p>Aside from building small projects I would love to where I can be part of a bigger
                    team & learn from others with more experience than myself.</p>

            </div>
        </div>

        <div class="container">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="field half first">
                    <label for="name">Name</label>
                    {{form.name }}
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    {{form.email}}
                    <div class="field">
                        <label for="dept">For</label>
                        <div class="select-wrapper">
                            {{ form.dept }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    {{form.message}}
                </div>
                <br>
                <ul class="actions align-center">
                    <li><input value="Send Message" class="button special" type="submit"></li>
                </ul>
            </form>
        </div>


    </div>
    <br>
</div>


</body>
</html>